/TDS.class
/Clase.class
/Unidad.class
/ASemanticoException.class
/VariableInstancia.class
/Variable.class
/Tipo.class
/TipoBase.class
/Ctor.class
/Parametro.class
/Metodo.class
/VarMetodo.class
/TipoInt.class
/TipoNull.class
/TipoReferencia.class
/TipoPrimitico.class
/TipoPrimitivo.class
/TipoBoolean.class
/TipoVoid.class
/TipoChar.class
/TipoString.class
/TipoClase.class
/VarLocal.class
